@import "https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap";
:root {
	--bg-color: #282a36;
	--bg-color-header: rgba(0, 0, 0, 0.1);
	--bg-color-dark: #e9e8e9;
	--text-color: #fff;
	--color-green: #50fa7b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background: var(--bg-color-header);
	color: var(--text-color);
	border-bottom: 1px solid #333;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	/* font-family: 'Source Code Pro', monospace; */
	font-size: 1rem;	
}

a {
	color: var(--text-color);
}

a:hover {
	color: var(--color-green);
	text-decoration: none;
}

a.active {
	border-bottom: 3px solid;
	border-color: var(--color-green);
}

button {
	color: var(--text-color);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 2rem 1rem 2rem;
}

#profile {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 700px;
}

#profile .profile-image {
	border-radius: 50%;
	border: 0.05rem solid var(--color-green);
	margin: 0.5rem;
	width: 200px;
}

p.italic {
	margin-bottom: 0;
}

p.contact {
	margin-right: 0.3rem;
}

.profile-social {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
}

.profile-social a {
	padding: 0.5rem;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 700px;
}

#content-page h2{
	padding-top: 2rem;

}

#content .content-text {
	text-align: justify;
}

.footer-links {
	display: flex;
	align-items: center;
}

footer {
	 display: flex;
	 justify-content: center;
	 align-items: center;

	padding: 1rem;
 }

.italic {
	font-style: oblique;
}

@media (max-width: 720px) {
	#profile .profile-image {
		width: 150px;
	}

	a.active {
		border-bottom: 0;
		border-left: 2px solid;
		border-color: var(--color-green);
		padding-left: 8px !important;
	}
}