header{

}

body{
	/*background: #e9e8e9;*/
	background-color: #fff;
	color: #fff;
	background-image: url("img/florest-res.jpg");
	background-repeat: repeat;
}

img{
	margin-top: 60px;
	width: 110px;
}

a{
	color: #fff;
}

a:hover {
	color: #000;
}

h4{
	color: #000;
}

p.italic{
	font-style: oblique;
	padding: 0px !important;
	margin: 0px;
}

p.post{
	text-align: justify;
}

@media (min-width: 992px) {
	.margin {
		margin-top: 50px;
	}

	footer{
		position: absolute;
	}
}

@media (max-width: 991px){
	.margin {
		margin-top: 10px;
	}
}

.content {
	overflow:hidden;
}

.pl p{
	padding: 10px;
	background-color: #000;
	border-radius: 10px;
	padding: 5px;
	border-spacing: 10px;
}

.pr p{
	padding: 10px;
	background-color: #000;
	border-radius: 10px;
	padding: 5px;
	border-spacing: 10px;
}

.section-header {
	margin-top: 60px;
	margin-bottom: 30px;
}

nav .nav-bar {
	background-color: mediumaquamarine;
}

footer{
	bottom: 10px;
	width: 100%;
	color: #fff;

}