header{

}

body{
	/*background: #e9e8e9;*/
	background-color: #fff;
  	color: #666666;
}

img{
	margin-top: 60px;
	width: 110px;
}

p.italic{
	font-style: oblique;
	padding: 0px !important;
	margin: 0px;
}

@media (min-width: 992px) {
  .fright {
  	margin-top: 50px;
  }

  footer{
  	position: absolute;
  }
}

@media (max-width: 991px){
	.fright {
	margin-top: 10px;
	}
}

.content {
	overflow:hidden;
}

.aside {
	width:200px;
}

.fleft {
	float:left;
}

.pl p{
	font-size: 16px;
	padding: 10px;
}

.fb {
}

.fright {
	float:right;

}

footer{
    bottom:10px;
    width:100%;
}
