@import "https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap";

/* :root {
    --bg-color: #282a36;
    --bg-color-header: rgba(0, 0, 0, 0.1);
    --bg-color-dark: #e9e8e9;
    --font-color: #fff;
    --color-green: #50fa7b;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
    --bg-color: #282a36;
    --bg-color-header: rgba(0, 0, 0, 0.1);
    --bg-color-dark: #e9e8e9;
    --color-green: #50fa7b;
}

.theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #243133;
    --color-accent: #12cdea;
    --font-color: #ffffff;
    --bg-color: #282a36;
    --bg-color-header: rgba(0, 0, 0, 0.1);
    --bg-color-dark: #e9e8e9;
    --color-green: #50fa7b;
}

header {
    background: var(--bg-color-header);
    color: var(--font-color);
    border-bottom: 1px solid #333;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    color: var(--font-color);
    background-color: var(--bg-color);
}

ul li {
    list-style-position: inside;
}

.list-contact li {
    list-style-type: none;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    color: var(--color-green) !important;
    text-decoration: none;
}

a.active {
    border-bottom: 2px solid;
    border-color: var(--color-green);
}

button {
    color: var(--font-color);
}

.navbar-brand img {
    max-height: 32px;
}


/* #profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
} */

#profile .profile-image {
    border-radius: 50%;
    border: 0.05rem solid var(--color-green);
    margin: 0.5rem;
    width: 120px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}